/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/parser/
!/storage/.gitignore
/vendor
/public/vendor
.env
.env.testing
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.data/
.run/
composer.lock
/package-lock.json
xdebug.log
core
/docker-compose.yml
/docker

core.1
