/* stylelint-disable declaration-no-important */
.base-link {
    text-decoration: none;
    line-height: 1.35;
    color: $color-purple-primary;
    transition: $transition-fast;
    font-weight: 500;

    &:hover {
        opacity: 0.75;
    }

    &--size-small {
        font-size: size(14);
    }

    &--size-middle {
        font-size: size(16);
    }
}

.flex-wrapper {
    display: flex;

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-between {
        justify-content: space-between;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}

.custom-scrollbar {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 13px;
        height: 13px;
        background-color: $color-main-background;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 4px solid $color-main-background;
        background-color: $color-gray-dark;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: $color-gray-dark-800;
    }
}

// CUSTOM STYLES

.primary-btn {
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    background-color: $color-purple-primary !important;
    color: #fff !important;
    transition: $transition-fast;
    box-shadow: 0 12px 16px rgba(95, 69, 255, 0.16);

    &:active,
    &:focus {
        background: $color-purple-primary-700;
        box-shadow: 0 12px 16px rgba(95, 69, 255, 0.16), 0 0 0 4px $color-purple-primary-shadow;
    }

    &:hover {
        background-color: $color-purple-dark;
    }

    &[disabled] {
        background-color: $color-gray-light;
        color: $color-gray-dark !important;
        box-shadow: none !important;
        pointer-events: none;
    }

    &--blue {
        background-color: $color-ozon-primary !important;

        &:hover {
            background-color: $color-ozon-primary-800;
        }

        &:active,
        &:focus {
            background-color: $color-ozon-primary;
            box-shadow: none;
        }
    }

    &--pink {
        background-color: $color-red-secondary !important;
        box-shadow: none;

        &:hover {
            background-color: $color-red-dark !important;
        }

        &:active,
        &:focus {
            background-color: $color-red-secondary !important;
            box-shadow: none;
        }
    }

    &--size-middle {
        height: 48px;
    }

    &--size-small {
        height: 40px;
    }

    &--full-width {
        width: 100%;
    }

    span {
        font-size: size(16);
        color: inherit;
        font-weight: 700;
    }
}

.default-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px 6px 18px;
    border-radius: 8px;
    border: 1px solid $color-gray-blue-light;
    font-size: size(16);
    line-height: 1;
    color: $color-main-font;
    transition: $transition-fast;
    font-weight: 500;

    &:hover {
        border-color: $color-main-font;
        background-color: #fff;
        color: inherit;
    }

    &:active,
    &:focus {
        border-color: $color-purple-primary;
        background-color: transparent;
        color: inherit;
        box-shadow: 0 12px 16px rgb(95 69 255 / 16%);
    }

    &[disabled] {
        border-color: $color-gray-blue-light !important;
        color: inherit !important;
        opacity: 0.75;
    }

    &--size-middle {
        height: 48px;
    }

    &--is-icon {
        width: 40px !important;
        min-width: 40px !important;
        padding: 6px !important;

        span {
            display: block;
            text-align: center;
            font-size: 0 !important;

            svg {
                display: inline-block;
            }
        }
    }

    &--size-small {
        height: 40px !important;
    }

    &--size-small.default-btn--is-icon {
        width: 40px !important;
        min-width: 40px !important;
    }

    &--full-width {
        width: 100%;
    }

    &--import {
        i {
            font-size: 20px;
        }
    }

    &--icons {
        min-width: 40px;
        padding: 0 8px;

        i {
            font-size: 20px;
        }
    }

    &--pink {
        border-color: currentColor;
        color: $color-pink-secondary;

        &:hover,
        &:active,
        &:focus {
            border-color: $color-pink-secondary;
            background-color: $color-pink-secondary;
            color: #fff;
        }
    }

    &--success {
        border-color: $color-green-secondary !important;
        background: rgba(32, 194, 116, 0.08) !important;
        font-size: size(14);
        color: $color-green-secondary !important;
        cursor: auto !important;

        &:hover,
        &:active,
        &:focus {
            border-color: $color-green-secondary !important;
            background: rgba(32, 194, 116, 0.08) !important;
            box-shadow: none;
        }
    }

    span {
        margin-left: 0;
        font-size: inherit;
        line-height: 1;
        color: inherit;
        font-weight: 600;
    }

    i {
        font-size: 110%;

        & + span {
            margin-left: 6px !important;
        }
    }
}

.custom-dialog {
    flex-direction: column;
    padding: 24px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;

        &--close {
            padding: 0 calc(32px + 1rem);
        }

        &--not-close + button.el-dialog__headerbtn {
            display: none;
        }
    }

    &__body {
        display: flex;
        width: 100%;
        margin: 16px 0 0;
        text-align: left;
        flex-direction: column;
    }

    &__footer {
        width: 100%;

        @media screen and (max-width: 420px) {
            .el-row {
                display: flex;
                flex-direction: column;

                .el-col-12 {
                    width: 100%;

                    &:not(:first-child) {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    &__main-title {
        font-size: size(24);
        cursor: default;
        font-weight: bold;
    }

    &__text {
        font-size: size(16);
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: size(24);
        }
    }

    .primary-btn--size-small,
    .default-btn--size-small {
        height: 48px;
    }

    .v-input__slot {
        max-height: unset !important;
    }
}

.dialog-loader {
    .loader {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;

        &:not(:last-child) {
            margin-bottom: size(24);
        }

        &__svg {
            position: absolute;
        }
    }
}

.custom-search {
    position: relative;

    .custom-loading {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 0;
        margin-right: 14px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &--width-middle {
        width: 100%;
        max-width: 386px;
    }

    &--full-width {
        width: 100%;
    }
}

.progress {
    display: flex;
    justify-content: center;
    max-width: size(400);
    height: 100%;
    flex-direction: column;
    cursor: default;

    &--large {
        .progress__box {
            height: size(32);
        }
    }

    &--small {
        padding-left: size(50);

        .progress__box {
            height: 16px;
        }
    }

    &__title-box {
        display: flex;
        margin-bottom: 6px;
    }

    &__box {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: $color-main-background;
    }
}

.custom-popover {
    min-width: size(100);
    padding: size(14) size(16) size(16);
    border-radius: 16px;
    border: 1px solid $color-gray-light;
    background-color: $color-light-background;
    text-align: left;
    font-size: size(14);
    color: $color-main-font;
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.16);
    font-weight: 500;
    word-break: unset;

    @include phone-large {
        max-width: 420px;
    }

    @include phone-small {
        max-width: 320px;
    }

    &__title {
        font-size: size(16);
        line-height: 1.4;
        color: $color-main-font;
        font-weight: 600;
    }

    .popper__arrow {
        display: none;
    }

    &__text {
        display: block;

        &:not(:first-child) {
            margin-top: 4px;
        }

        &--gray {
            color: $color-gray-light-100;
        }

        &--last {
            margin-bottom: 0 !important;
        }
    }

    .product-table__messages {
        height: auto;
        margin-top: 4px;
        margin-right: 0;
        padding: 0;
        border: unset;

        svg {
            color: $color-main-font;
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__product-view {
        padding: 0;

        .product-table__product-view {
            min-width: size(140);
            height: size(40);
            margin-right: size(16);
            padding: 0 size(16);
            border-radius: 8px;
        }
    }

    &__title-box {
        display: flex;
        padding: size(16);
    }

    &__box-view {
        display: flex;
        align-items: center;
        padding: size(16);
        border-top: 1px solid #e9edf2;

        p,
        span {
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
            padding: 0 !important;
            background: no-repeat !important;
            line-height: normal !important;
        }

        p {
            margin-right: 4px !important;
            margin-left: auto !important;
            padding-left: 8px !important;
        }
    }
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 12px 0 16px;
    background-color: transparent;
    color: $color-gray-dark;
    transition: $transition-fast;
    cursor: pointer;

    @include hover {
        &:hover {
            border-color: $color-main-font !important;
            color: $color-main-font;
        }
    }

    &:active {
        border-color: $color-main-font !important;
        color: $color-main-font;
    }

    &.top {
        border-color: $color-gray-blue-light;
        color: $color-main-font;

        .filter-btn__icon {
            &:after {
                opacity: 0;
            }

            svg {
                opacity: 1;
                transform: scale(1, -1);
            }
        }
    }

    &.bottom {
        border-color: $color-gray-blue-light;
        color: $color-main-font;

        .filter-btn__icon {
            &:after {
                opacity: 0;
            }

            svg {
                opacity: 1;
            }
        }
    }

    &__text {
        font-size: 14px;
        line-height: 1;
        color: currentColor;
        font-weight: 700;
    }

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-gray-blue-light;
            transform: translate(-50%, -50%);
            transition: $transition-fast;
        }

        svg {
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition-fast;
        }
    }

    &--checked {
        min-width: size(48);
        padding: 0 8px;
    }
}

.border-hover {
    transition: border $transition-fast;

    &:hover {
        border-color: $color-main-font;
    }
}

.tooltip-btn {
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    padding: 2px;
    font-size: 14px;
    color: $color-gray-blue-light;
    transition: $transition-fast;
    cursor: pointer;

    &:hover {
        color: initial;
    }

    &--margin-left {
        margin-left: 6px;
    }

    &--margin-right {
        margin-right: 6px;
    }
}

.not-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 350px;
    padding: 22px 24px;
    border-radius: 16px;
    border: 1px dashed $color-gray-dark;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    transform: translate(-50%);
    font-weight: 600;
}

.page-app {
    &__container {
        // position: relative;
        min-height: 100%;
        padding: size(24) size(32);

        @include phone-large {
            padding: 16px;
        }

        &--settings {
            padding-bottom: size(90);
        }
    }
}

.custom-loading {
    position: relative;

    & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 11;
        transform: translate(-50%, -50%);
    }
}

.product-options {
    .product-content__panel {
        margin: 0;
    }

    &__invalid-icon {
        box-shadow: 0 10px 15px -5px rgba(255, 0, 0, 0.4);
    }

    &__price {
        &-value {
            display: block;
            margin-bottom: 16px;
            font-size: size(16);
            line-height: 1;
            font-weight: 500;
        }

        .custom-form {
            display: flex;

            .v-text-field {
                width: calc(50% - 16px);
                margin: 0 8px 16px;
                margin-bottom: 0;

                @include phone-large {
                    width: 100%;
                }
            }

            @include md-max {
                flex-wrap: wrap;
            }
        }
    }

    &__media {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8px 0;

        @include respond-to(md) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
            gap: 1rem;
            margin: 0;
        }

        @include respond-to(sm) {
            grid-template-columns: 1fr;
        }

        &-item {
            margin-top: 8px;

            @include respond-to(md) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: size(66);

                @include respond-to(md) {
                    margin-right: 0;
                }
            }

            &:last-child {
                @include respond-to(md) {
                    grid-column: span 2;
                }

                @include respond-to(sm) {
                    grid-column: auto;
                }
            }

            &--video-form {
                width: 100%;
                max-width: 300px;

                @include respond-to(md) {
                    max-width: unset;
                }

                .title-h4 {
                    margin-bottom: 0 !important;
                }

                .flex-wrapper {
                    margin-bottom: 16px;
                }
            }

            .title-h4 {
                display: block;
                margin-bottom: 16px;
                line-height: 1;

                @include respond-to(md) {
                    font-size: 1rem;
                }
            }
        }
    }

    &__decs {
        &-title {
            font-size: size(16);
            line-height: 1.5;
            color: $color-main-font;
            font-weight: 600;
        }

        &-valid {
            display: block;
            margin-bottom: 16px;
            font-size: size(14);
            font-weight: 500;
        }

        &--invalid {
            color: $color-red-secondary;
        }
    }
}

.progress-custom {
    position: relative;

    .v-progress-linear {
        border-radius: 8px;

        &__content {
            justify-content: flex-start;
            padding: 13px;
            font-size: 26px;
            font-weight: 700;
            color: white;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 4px currentColor;
        border-radius: 8px;
        opacity: 0.3;
    }
}

.custom-collapse {
    .v-expansion-panel {
        margin-top: 0 !important;
        background-color: transparent !important;

        &:before {
            box-shadow: none;
        }

        &:not(:first-child):after {
            opacity: 0 !important;
        }

        &-header__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin-left: 10px;
            border-radius: 8px;
            border: 1px solid $color-gray-blue-light;
            background: $color-white-font;
            text-align: center;
            cursor: pointer;
            font-weight: 600;

            .v-icon {
                color: $color-main-font;

                &__svg {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        &-content__wrap {
            padding: 0;
        }
    }
}

.purple-chip.v-chip {
    height: 24px;
    padding: 0 8px;
    border-radius: 4px !important;
    background: #710bff !important;

    .v-chip__content {
        overflow: hidden;
        display: block !important;
        height: auto !important;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 23px;
        color: $color-white-font;
        font-weight: 500;

        button.v-chip__close {
            margin-top: -1px;
            margin-right: -3px;

            svg.v-icon__svg {
                fill: $color-white-font;
                width: 14px !important;
                height: 14px !important;
            }
        }
    }
}

.custom-form {
    will-change: transform;
    position: relative;
    display: block;
    width: 100%;

    .v-autocomplete input {
        margin-left: 4px !important;
        padding: 1px 0 !important;
    }

    .v-text-field {
        &--outlined {
            margin-top: 4px !important;
        }

        &__details {
            padding-left: 0 !important;
        }
    }

    .v-input__slot {
        // background: $color-gray-extra-light !important;

        &:last-child {
            .v-text-field__details {
                margin-bottom: 0;
            }
        }
    }

    .v-messages__message {
        font-size: 11px;
        line-height: 1.15;
        font-weight: 500;
    }

    .v-select {
        &__selections {
            margin-left: -8px;
            padding-top: 8px !important;
        }

        &.v-input {
            .v-chip {
                margin: 2px;

                &--select {
                    height: 24px;
                    padding: 0 8px;
                    border-radius: 4px !important;
                    background: #710bff !important;
                }

                &__content {
                    overflow: hidden;
                    display: block !important;
                    // text-overflow: ellipsis;
                    font-size: 12px;
                    line-height: 23px;
                    color: $color-white-font;
                    font-weight: 500;

                    button.v-chip__close {
                        margin-top: -1px;
                        margin-right: -3px;

                        svg.v-icon__svg {
                            fill: $color-white-font;
                            width: 14px !important;
                            height: 14px !important;
                        }
                    }
                }
            }
        }

        .v-input__append-inner {
            margin-right: 8px;
        }

        .v-input__icon {
            width: 1.1rem !important;
            min-width: 1.1rem !important;
            height: 1.1rem !important;
        }
    }

    .v-input.not-bcg {
        margin-top: 8px;

        .v-input__slot {
            background: transparent !important;
        }
    }

    .custom-radio .v-input__slot {
        background: transparent !important;
    }

    &.custom-form--children-bigger-mt {
        .v-text-field {
            &--outlined {
                margin-top: 8px !important;
            }
        }
    }
}

.remote-search-output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;

    &__popularity {
        z-index: 1;
        height: max-content;
        margin-left: 10px;
        padding: 4px 8px;
        border-radius: 100px;
        background: $color-gray-light-300;
        font-weight: 700;
        font-size: 12px;
        line-height: 1;
    }
}

.negative-position {
    transform: scale(-1);
}

.relative-wrap {
    position: relative;
}

.full-width-wrap {
    width: 100%;
}

.full-height-wrap {
    width: 100%;
}

.se-notif-badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff3981;
    // TODO: Убрать линтер
    /* stylelint-disable */
    box-shadow: 0px 2px 4px rgba(255, 57, 128, 0.46);
}
