/* manrope-200 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-200.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-300 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-300.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-regular - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-500 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-500.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-600 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-600.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-700 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-700.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* manrope-800 - latin_cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('~assets/fonts/manrope-v11-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('~assets/fonts/manrope-v11-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~assets/fonts/manrope-v11-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/manrope-v11-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~assets/fonts/manrope-v11-latin_cyrillic-800.svg#Manrope') format('svg'); /* Legacy iOS */
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis--two {
    -webkit-line-clamp: 2;
}

.ellipsis--three {
    -webkit-line-clamp: 3;
}

.ellipsis--two,
.ellipsis--three {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.txt-center {
    text-align: center;
}

.base-txt {
    font-size: 1rem;
    line-height: 1.35;

    &--light {
        color: $color-gray-dark;
    }

    &--semi-bold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }
}

.small-txt {
    font-size: size(14);
    line-height: 1.35;

    &--gray-dark {
        color: $color-gray-dark;
    }

    &--gray-100 {
        color: $color-gray-light-100;
    }

    &--gray-800 {
        color: $color-gray-dark-800;
    }

    &--purple {
        color: $color-purple-primary;
    }

    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }
}

.title-h1 {
    font-size: 2rem;
    line-height: 1.25;

    &--bold {
        font-weight: 700;
    }
}

.title-h3 {
    font-size: size(26);
    line-height: 1.25;

    &--bold {
        font-weight: 700;
    }
}

.title-h4 {
    font-size: size(24);
    line-height: 1.25;

    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }

    &--black {
        color: $color-main-font;
    }
}

.title-h5 {
    font-size: size(22);
    line-height: 1.25;

    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }

    &--black {
        color: $color-main-font;
    }
}

.txt-link {
    text-decoration: none;
    color: $color-main-font;
    cursor: pointer;
}
