%text-body-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: percentage(24px/16px);
}

%text-body-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: percentage(22px/16px);
}

%text-body-3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 135%;
}

%text-h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: percentage(44px/32px);
    color: $base-900;

    @include respond-to(md) {
        font-size: 24px;
    }

    @include respond-to(sm) {
        font-size: 20px;
    }
}

%text-h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.25;
}

%text-h4 {
    font-size: 24px;
    line-height: 1.25;

    @include sm {
        font-size: 20px;
    }
}

%text-h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.25;
}

%text-caption {
    font-size: 12px;
    line-height: 125%;
}

%ellipsis {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

%pageSidePadding {
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;

    @include respond-to(md) {
        padding: 16px;
    }

    // @include respond-to(sm) {
    //     padding: 16px;
    // }
}

%sheet {
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.18);
    border-radius: 24px;
    background: #fff;
}
