* * * * * echo "Date: `date +\%Y-\%m-\%d_\%H:\%M:\%S`" >> /var/www/storage/logs/cron_root.log 2>&1
* * * * * cd /var/www/ &&  /usr/local/bin/php artisan schedule:run >> /var/www/storage/logs/out.`date +\%Y-\%m-\%d`.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
