<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
    <head {{ HEAD_ATTRS }}>
        <style>
            .b24-widget-button-wrapper {
                display: none !important;
            }
        </style>
        {% if (ENV.ENABLE_GTM === 'true') { %}
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TC7NLQ3');
        </script>
        {% } %}
        <script>
            window.dataLayer = window.dataLayer || [];
        </script>
        {{ HEAD }}
    </head>
    <body {{ BODY_ATTRS }}>
        {{ APP }} {% if (ENV.ENABLE_GTM === 'true') { %}
        <script>
            (function (w, d, s, h, id) {
                w.roistatProjectId = id;
                w.roistatHost = h;
                var p = d.location.protocol == 'https:' ? 'https://' : 'http://';
                var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie)
                    ? '/dist/module.js'
                    : '/api/site/1.0/' +
                      id +
                      '/init?referrer=' +
                      encodeURIComponent(d.location.href);
                var js = d.createElement(s);
                js.charset = 'UTF-8';
                js.async = 1;
                js.src = p + h + u;
                var js2 = d.getElementsByTagName(s)[0];
                js2.parentNode.insertBefore(js, js2);
            })(window, document, 'script', 'cloud.roistat.com', '8d8df99369bf8a5feec04099170a4bda');
        </script>
        {% } %}
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-TC7NLQ3"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe>
        </noscript>
    </body>
</html>
