/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.data
xdebug.log
composer.lock
package-lock.json
/docker-compose.yml
/docker
laravel-echo-server.lock
laravel-echo-server.json
/_ide_helper.php
/node
/.phpstorm.meta.php
